.form {
    width: 100%;
    display: flex;
    padding: 1.4rem 1rem;
    background-color: var(--color-bg-dark);
}

.input {
    flex: 1 0 auto;
    font-size: 1.4rem;
    padding: 0.7rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.7rem 0 0 0.7rem; /* border-radius: 위 오른 아래 왼 */   
}

.button {
    background-color: var(--color-accent);
    color: var(--color-white);
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0 2rem;
    border-radius: 0 0.7rem 0.7rem 0;
}

.button:hover {
    filter: brightness(125%); /* 마우스를 Add 버튼 위에 올렸을 때 125%만큼 밝아짐 */
}