.form {
    width: 100%;
    display: flex;
    padding: 1.4rem 1rem;
    background-color: var(--color-beige);
}

.input {
    flex: 1 0 auto;
    font-size: 1.4rem;
    padding: 0.7rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.7rem 0 0 0.7rem; /* border-radius: 위 오른 아래 왼 */   
}

.input:hover {
    background-color: var(--color-bg-dark);
}

.button {
    background-color: var(--color-dark-brown);
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0 2rem;
    border-radius: 0 0.7rem 0.7rem 0;
}

.button:hover {
    /* filter: brightness(125%);  */
    background-color: var(--color-accent);
    color: var(--color-white);
}